@import "tailwindcss";

:root {
  background-color: #1E1E1E;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0;
}

#title {
  font-size: 30px;
  font-family: "Inspiration", cursive;
  font-weight: 400;
  font-style: normal;
}

.word-tight {
  word-spacing: -0.1em;
}
/*   line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
